<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <ng-container *ngFor="let field of formField">
        <ng-container [ngSwitch]="field.type">
            <app-test-input *ngSwitchCase="'input'" [field]="field" [control]="getControl(field.id)"></app-test-input>
            <app-test-select *ngSwitchCase="'select'" [field]="field" [control]="getControl(field.id)"></app-test-select>
            <app-test-number *ngSwitchCase="'number'" [field]="field" [control]="getControl(field.id)"></app-test-number>
            <app-test-checkbox *ngSwitchCase="'checkbox'" [field]="field" [control]="getControl(field.id)"></app-test-checkbox>
        </ng-container>
    </ng-container>
    
    <button type="submit">Submit</button>
 </form>