<h2>Добавьте компонент для формы</h2>
<form [formGroup]="fieldForm" (ngSubmit)="submit()">
  <div class="wrapper">
    <div class="form-control">
      <label for="type">Выберите тип компонента</label>
      <select id="type" formControlName="type">
        @for (type of arrTypesComponent; track $index) {
        <option [value]="type.value">{{ type.name }}</option>
        }
      </select>
    </div>
    <!-- Если был выбран "поле ввода" -->
    @if (fieldForm.value.type && fieldForm.value.type === 'input') {
      <div class="form-control">
        <label for="label">Название поля</label>
        <input
          type="text"
          id="label"
          placeholder="Введите название поля"
          formControlName="label"
        />
      </div>
      <div class="form-control">
        <label for="varietyComponent">Выберите тип "Поле ввода"</label>
        <select id="varietyComponent" formControlName="varietyComponent">
          @for (item of arrTypesInputComponent; track $index) {
            <option [value]="item.value">{{item.name}}</option>
          }
        </select>
      </div>
    }
    <!-- Если был выбран селект -->
    @if (fieldForm.value.type && fieldForm.value.type === 'select') {
      <div class="form-control">
        <label for="label">Введите название поля</label>
        <input
          type="text"
          id="label"
          placeholder="Введите название поля"
          formControlName="label"
        />
      </div>
      <div class="form-control">
        <label for="label">Введите название селекта</label>
        <input
          type="text"
          id="label"
          placeholder="Введите название селекта"
          formControlName="label"
        />
      </div>
    }
      <div class="form-control">
        <label for="required">Обязательно для заполнения?</label>
        <input class="checkbox" type="checkbox" id="required" formControlName="required">
      </div>
      <button type="submit" class="btn btn-dark" [disabled]="fieldForm.invalid || submitted">Добавить поле</button>
  </div>
</form>

